.header,
.sidebar,
.minecraft-p-content,
.content,
.m-btn,
.description,
.footer {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(39, 38, 41);
    color: white;
    font-family: "Orbitron";
    font-size: 18px;
    overflow: hidden;
}

body {
    background-color: rgb(8, 4, 12);
}

.header {
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
}

#logoimg {
    border-radius: 50%;
    display: inline;
    flex-wrap: wrap;
    border: solid 5px red;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
} 

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.form-control {
   max-width: 100%;
}

.sidebar-item {
    margin-bottom: 20px;
    cursor: pointer;    
    display: block;
    border-bottom: 1px solid #200331;
    color: rgb(153, 138, 138);
    transition: all 0.3s ease;
}

.sidebar-item:hover {
    background: #000000;
    color: white;
}

.games {
    margin-bottom: 20px;
    justify-content: center;
    gap: 20px;
    border: 2px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(39, 38, 41);
}

.game-card {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(8, 4, 12);
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.footer {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(39, 38, 41);
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    height: 80vh;
    overflow-y: auto;
}

.sidebar {
    height: 80vh;
    position: sticky;
    top: 20px;
    overflow-y: auto;
}

.minecraft-p-content {
    height: auto; 
    overflow-y: hidden;
    margin-bottom: 20px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.p-description {
    font-size: 18px;
    line-height: 1.6;
    margin: 10px;
    text-align: justify;
    font-weight: bold;
}

.image-side {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(8, 4, 12);
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    font-size: 25px;
    max-height: auto;
    overflow-y: hidden;
}

.information {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(8, 4, 12);
    text-align: center;
    font-size: 25px;
    margin: 20px;
    height:80vh;
    overflow-y:auto;
}

.description {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin-top: 40px;
    text-align: justify;
}

.btn {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    background-color: rgb(8, 4, 12);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.btn:hover {
    background: grey;
    color: black;
    border: 2px solid red;
}

#form_buttons {
    justify-content: space-evenly;
}

#age_classification {
    max-width: 50%;
    max-height: 60%;
    margin-left: 1.2%;
}

.span {
    color: red;
    font-weight: bold;
}