.header,
.sidebar,
.minecraft-p-content,
.content,
.m-btn,
.description,
.footer {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(39, 38, 41);
    color: white;
    font-family: "Orbitron";
    font-size: 18px;
}

body {
    background-color: rgb(8, 4, 12);
}

.header {
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap:20px;
    font-size: 14px; 
}

#logoimg {
    border-radius: 50%;
    display: inline;
    flex-wrap: wrap;
    border: solid 5px red;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
} 

form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.sidebar-item {
    margin-bottom: 20px;
    cursor: pointer;    
    display: block;
    border-bottom: 1px solid #200331;
    color: rgb(153, 138, 138);
    transition: all 0.3s ease;
}

.sidebar-item:hover {
            background: #000000;
            color: white;
}

.games {
    margin-bottom: 20px;
    justify-content: center;
    gap: 20px;
    border: 2px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(39, 38, 41);
}

.game-create {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(8, 4, 12);
    display: inline-flex;
    justify-content: space-around;
}

.game-card {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(8, 4, 12);
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    font-size: 25px;
}

.game-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.footer {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(39, 38, 41);
    color: white;
    text-align: center;
}

.content {
    height: 80vh;
    overflow-y: auto;
}

.sidebar {
    height: 80vh;
    position: sticky;
    top: 20px;
    overflow-y: auto;
}

.minecraft-p-content {
    height: 80vh;
    overflow-y: auto;
}

.title {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.p-description {
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.image-side {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(8, 4, 12);
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    font-size: 25px;
}

.information {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(8, 4, 12);
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    height:80vh;
    overflow-y:auto;
}

.description {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 40px;
    text-align: justify;
}