<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Añadir Nuevo Videojuego</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="MoreForPlaying.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Header -->
            <div class="col-12 mb-3"> <!-- Takes full width and has a bottom margin of 3 -->
                <header class="header flex-column flex-md-row">
                    {{>header}}
                </header>
            </div>
        </div>

        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-2 md-2 mb-3">
                <aside class="sidebar">
                    {{>sidebar}}
                </aside>
            </div>

            <!-- Content -->
            <div class="col-12 col-lg-10 md-10">
                <main class="content">

                    <h1>Añade un nuevo videojuego al catálogo</h1>
                    <br>

                    <form method="post" action="game/create" enctype="multipart/form-data" class="d-grid">

                        <!-- Row for the videogame name -->
                        <div class="row mb-4">
                            <label for="videogame_name" class="col-sm-3 col-form-label">Nombre del videojuego:</label>
                            <div class="col-sm-9">
                                <input type="text" id="videogame_name" name="videogame_name" class="form-control" placeholder="Nombre" required>
                            </div>
                        </div>

                        <!-- Row for the videogame description -->
                        <div class="row mb-4">
                            <label for="videogame_description" class="col-sm-3 col-form-label">Descripción del videojuego:</label>
                            <div class="col-sm-9">
                                <textarea id="videogame_description" name="videogame_description" class="form-control" rows="4" placeholder="Descripción" required></textarea>
                            </div>
                        </div>

                        <!-- Row for the videogame secondary description -->
                        <div class="row mb-4">
                            <label for="videogame_secondary_description" class="col-sm-3 col-form-label">Descripción secundaria del videojuego:</label>
                            <div class="col-sm-9">
                                <textarea id="videogame_secondary_description" name="videogame_secondary_description" class="form-control" rows="4" placeholder="Descripción secundaria" required></textarea>
                            </div>
                        </div>

                        <!-- Row for the videogame developer -->
                        <div class="row mb-4">
                            <label for="videogame_developer" class="col-sm-3 col-form-label">Desarrollador del videojuego:</label>
                            <div class="col-sm-9">
                                <input type="text" id="videogame_developer" name="videogame_developer" class="form-control" placeholder="Desarrollador" required>
                            </div>
                        </div>

                        <!-- Row for the videogame editor -->
                        <div class="row mb-4">
                            <label for="videogame_editor" class="col-sm-3 col-form-label">Editor del videojuego:</label>
                            <div class="col-sm-9">
                                <input type="text" id="videogame_editor" name="videogame_editor" class="form-control" placeholder="Editor" required>
                            </div>
                        </div>

                        <!-- Row for the videogame image -->
                        <div class="row mb-4">
                            <label for="videogame_image" class="col-sm-3 col-form-label">Imagen del videojuego:</label>
                            <div class="col-sm-9">
                                <input type="file" id="videogame_image" name="videogame_image" class="form-control" accept="image/*" required>
                            </div>
                        </div>

                        <!-- Row for the videogame cost -->
                        <div class="row mb-4">
                            <label for="videogame_cost" class="col-sm-3 col-form-label">Coste del videojuego:</label>
                            <div class="col-sm-2">
                                <input type="number" id="videogame_cost" name="videogame_cost" min="0" step="1" class="form-control" placeholder="Coste en €" required>
                            </div>
                            <label for="videogame_cost" class="col-sm-1 col-form-label">€</label>
                        </div>

                        <!-- Row for the videogame release date -->
                        <div class="row mb-4">
                            <label for="videogame_release_date" class="col-sm-3 col-form-label">Fecha de lanzamiento del videojuego:</label>
                            <div class="col-sm-3">
                                <input type="date" id="videogame_release_date" name="videogame_release_date" class="form-control" required>
                            </div>
                        </div>

                        <!-- Row for the videogame platforms -->
                        <div class="row mb-4">
                            <label for="videogame_platforms" class="col-sm-3 col-form-label">Plataformas en las que se encuentra disponible el videojuego:</label>
                            <div id="videogame_platforms" class="col-sm-9">
                                <!-- Checkbox for PlayStation platform -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="platform_PlayStation" name="platform_PlayStation">
                                    <label class="form-check-label" for="platform_PlayStation">
                                        PlayStation
                                    </label>
                                </div>

                                <!-- Checkbox for Xbox platform -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="platform_Xbox">
                                    <label class="form-check-label" for="platform_Xbox">
                                        Xbox
                                    </label>
                                </div>

                                <!-- Checkbox for Nintendo platform -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="platform_Nintendo" name="platform_Nintendo">
                                    <label class="form-check-label" for="platform_Nintendo">
                                        Nintendo
                                    </label>
                                </div>

                                <!-- Checkbox for PCs platform -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="platform_PCs" name="platform_PCs">
                                    <label class="form-check-label" for="platform_PCs">
                                        PCs
                                    </label>
                                </div>

                                <!-- Checkbox for Mobile platform -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="platform_Mobiles" name="platform_Mobiles">
                                    <label class="form-check-label" for="platform_Mobiles">
                                        Móviles (Smartphones y Tablets)
                                    </label>
                                </div>

                                <!-- Checkbox for VR platform -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="platform_VR" name="platform_VR">
                                    <label class="form-check-label" for="platform_VR">
                                        Realidad Virtual (VR)
                                    </label>
                                </div>

                                <!-- Checkbox for Arcade platform -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="platform_Arcade" name="platform_Arcade">
                                    <label class="form-check-label" for="platform_Arcade">
                                        Máquinas Arcade
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Row for the videogame modes -->
                        <div class="row mb-4">
                            <label for="videogame_modes" class="col-sm-3 col-form-label">Modos de juego disponibles:</label>
                            <div id="videogame_modes" class="col-sm-9">
                                <!-- Checkbox for Single Player mode -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mode_SinglePlayer" name="mode_SinglePlayer">
                                    <label class="form-check-label" for="mode_SinglePlayer">
                                        Un jugador
                                    </label>
                                </div>

                                <!-- Checkbox for Multiplayer mode -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mode_Multiplayer" name="mode_Multiplayer">
                                    <label class="form-check-label" for="mode_Multiplayer">
                                        Multijugador
                                    </label>
                                </div>

                                <!-- Checkbox for Cooperative mode -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mode_Cooperative" name="mode_Cooperative">
                                    <label class="form-check-label" for="mode_Cooperative">
                                        Cooperativo
                                    </label>
                                </div>

                                <!-- Checkbox for Competitive mode -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mode_Competitive" name="mode_Competitive">
                                    <label class="form-check-label" for="mode_Competitive">
                                        Competitivo
                                    </label>
                                </div>

                                <!-- Checkbox for Practice/Training mode -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mode_Practice" name="mode_Practice">
                                    <label class="form-check-label" for="mode_Practice">
                                        Práctica/Entrenamiento
                                    </label>
                                </div>

                                <!-- Checkbox for Story/Campaign mode -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mode_Story" name="mode_Story">
                                    <label class="form-check-label" for="mode_Story">
                                        Historia/Campaña
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Row for the age classification -->
                        <div class="row mb-4">
                            <label for="age_classification" class="col-sm-3 col-form-label">Clasificación PEGI por edades:</label>
                            <select id="age_classification" name="age_classification" class="form-select col-sm-9">
                                <option selected>Elija una opción</option>
                                <option value="1">3</option>
                                <option value="2">7</option>
                                <option value="3">12</option>
                                <option value="4">16</option>
                                <option value="5">18</option>
                            </select>
                        </div>

                        <!-- Row for the videogame qualification -->
                        <div class="row mb-4">
                            <label for="videogame_qualification" class="col-sm-3 col-form-label">Calificación del videojuego:</label>
                            <div class="col-sm-3">
                                <input type="number" id="videogame_qualification" name="videogame_qualification" class="form-control" min="0" max="5" step="0.5" placeholder="Calificación de 0 a 5">
                            </div>
                        </div>

                        <!-- Row for the videogame videogame_genres -->
                        <div class="row mb-4">
                            <label for="videogame_genres" class="col-sm-3 col-form-label">Género/s principales del videojuego:</label>
                            <div id="videogame_genres" class="col-sm-9">
                                <!-- Checkbox for Survival genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Survival" name="genre_Survival">
                                    <label class="form-check-label" for="genre_Survival">
                                        Supervivencia
                                    </label>
                                </div>

                                <!-- Checkbox for Action-Adventure genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_ActionAdventure" name="genre_ActionAdventure">
                                    <label class="form-check-label" for="genre_ActionAdventure">
                                        Acción-Aventura
                                    </label>
                                </div>

                                <!-- Checkbox for Strategy genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Strategy" name="genre_Strategy">
                                    <label class="form-check-label" for="genre_Strategy">
                                        Estrategia
                                    </label>
                                </div>

                                <!-- Checkbox for Sandbox genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Sandbox" name="genre_Sandbox">
                                    <label class="form-check-label" for="genre_Sandbox">
                                        Sandbox
                                    </label>
                                </div>

                                <!-- Checkbox for Sports genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Sports" name="genre_Sports">
                                    <label class="form-check-label" for="genre_Sports">
                                        Deportes
                                    </label>
                                </div>

                                <!-- Checkbox for Simulation genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Simulation" name="genre_Simulation">
                                    <label class="form-check-label" for="genre_Simulation">
                                        Simulación
                                    </label>
                                </div>

                                <!-- Checkbox for Puzzle genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Puzzle" name="genre_Puzzle">
                                    <label class="form-check-label" for="genre_Puzzle">
                                        Puzles
                                    </label>
                                </div>

                                <!-- Checkbox for RPG genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_RPG" name="genre_RPG">
                                    <label class="form-check-label" for="genre_RPG">
                                        Rol (RPG)
                                    </label>
                                </div>

                                <!-- Checkbox for Horror genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Horror" name="genre_Horror">
                                    <label class="form-check-label" for="genre_Horror">
                                        Terror
                                    </label>
                                </div>

                                <!-- Checkbox for Battle Royale genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_BattleRoyale" name="genre_BattleRoyale">
                                    <label class="form-check-label" for="genre_BattleRoyale">
                                        Battle Royale
                                    </label>
                                </div>

                                <!-- Checkbox for Racing genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Racing" name="genre_Racing">
                                    <label class="form-check-label" for="genre_Racing">
                                        Carreras
                                    </label>
                                </div>

                                <!-- Checkbox for Indie genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Indie" name="genre_Indie">
                                    <label class="form-check-label" for="genre_Indie">
                                        Indie
                                    </label>
                                </div>

                                <!-- Checkbox for Shooters genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_Shooters" name="genre_Shooters">
                                    <label class="form-check-label" for="genre_Shooters">
                                        Shooters
                                    </label>
                                </div>

                                <!-- Checkbox for Open World genre -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="genre_OpenWorld" name="genre_OpenWorld">
                                    <label class="form-check-label" for="genre_OpenWorld">
                                        Mundo Abierto
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- Row for the "buttons" -->
                        <div class="row mb-4" id="form_buttons">
                            <!-- "Button" to cancel the form and return to the main page -->
                            <a href="/" class="btn col-sm-3">
                                <h1><i class="bi bi-house-fill"></i> </h1> <!-- House icon -->
                                Cancelar
                            </a>

                            <!-- "Button" to complete the form and submit the data -->
                            <a href="/success" class="btn col-sm-3">
                                <h1><i class="bi bi-file-plus"></i> </h1> <!-- Add file icon -->
                                Registrar Videojuego
                            </a>
                        </div>
                    </form>
                </main>
            </div>
        </div>

        <div class="row">
            <!-- Footer -->
            <div class="col-12">
                <footer class="footer">
                    {{>footer}}
                </footer>
            </div>
        </div>
    </div>
</body>

</html>