{{>header}}

<div class="row">
    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content -->
    <div class="col-12 col-lg-10 md-10">
        <main class="content">

            <h1>Editar el videojuego del catálogo</h1>
            <br>

            {{#new_game_from_scratch}}
                <form method="post" action="/game/create" enctype="multipart/form-data" class="d-grid">
            {{/new_game_from_scratch}}

            {{^new_game_from_scratch}}
                <form method="post" action="/game/create/{{game_id}}" enctype="multipart/form-data" class="d-grid">
            {{/new_game_from_scratch}}

                <!-- Row for the videogame name -->
                <div class="row mb-4">
                    <label for="title" class="col-sm-3 col-form-label">Nombre del videojuego:</label>
                    <div class="col-sm-9">
                        <input type="text" id="title" name="title" class="form-control" placeholder="Debe comenzar con mayúscula" maxlength="75" value="{{game.title}}" required>
                    </div>
                </div>

                <!-- Row for the videogame description -->
                <div class="row mb-4">
                    <label for="description" class="col-sm-3 col-form-label">Descripción del videojuego:</label>
                    <div class="col-sm-9">
                        <textarea id="description" name="description" class="form-control" rows="4" placeholder="Mínimo de caracteres: 250. Máximo de caracteres: 1500." minlength="250" maxlength="1500" required>{{game.description}}</textarea>
                    </div>
                </div>

                <!-- Row for the videogame short description -->
                <div class="row mb-4">
                    <label for="short_description" class="col-sm-3 col-form-label">Descripción corta del videojuego:</label>
                    <div class="col-sm-9">
                        <textarea id="short_description" name="short_description" class="form-control" rows="3" placeholder="Mínimo de caracteres: 100. Máximo de caracteres: 500." minlength="100" maxlength="500" required>{{game.short_description}}</textarea>
                    </div>
                </div>

                <!-- Row for the videogame developer -->
                <div class="row mb-4">
                    <label for="developer" class="col-sm-3 col-form-label">Desarrollador del videojuego:</label>
                    <div class="col-sm-9">
                        <input type="text" id="developer" name="developer" class="form-control" placeholder="Desarrollador" value="{{game.developer}}" maxlength="50" required>
                    </div>
                </div>

                <!-- Row for the videogame editor -->
                <div class="row mb-4">
                    <label for="editor" class="col-sm-3 col-form-label">Editor del videojuego:</label>
                    <div class="col-sm-9">
                        <input type="text" id="editor" name="editor" class="form-control" placeholder="Editor" value="{{game.editor}}" maxlength="50" required>
                    </div>
                </div>

                <!-- Row for the videogame image -->
                <div class="row mb-4">
                    <label for="imageFilename" class="col-sm-3 col-form-label">Imagen del videojuego:</label>
                    <div class="col-sm-9">
                        <input type="file" id="imageFilename" name="imageFilename" class="form-control" accept="image/*">
                        <span>Archivo actual: <img src="/game/{{game._id}}/image" width="300" height="300"> </span>
                    </div>
                </div>

                <!-- Row for the videogame cost -->
                <div class="row mb-4">
                    <label for="price" class="col-sm-3 col-form-label">Coste del videojuego:</label>
                    <div class="col-sm-2">
                        <input type="number" id="price" name="price" min="0" max="1000" step="0.01" class="form-control" placeholder="Coste en €" value="{{game.price}}" required>
                    </div>
                    <label for="price" class="col-sm-1 col-form-label">€</label>
                </div>

                <!-- Row for the videogame release date -->
                <div class="row mb-4">
                    <label for="release_date" class="col-sm-3 col-form-label">Fecha de lanzamiento del videojuego:</label>
                    <div class="col-sm-3">
                        <input type="date" id="release_date" name="release_date" class="form-control" value="{{game.release_date}}" required>
                    </div>
                </div>

                <!-- Row for the videogame platforms -->
                <div class="row mb-4">
                    <label for="platforms" class="col-sm-3 col-form-label">Plataformas en las que se encuentra disponible el videojuego:</label>
                    <div id="platforms" class="col-sm-9">
                        <!-- Checkbox for PlayStation platform -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="platform_PlayStation" name="platform[]" value="PlayStation">
                            <label class="form-check-label" for="platform_PlayStation">
                                PlayStation
                            </label>
                        </div>

                        <!-- Checkbox for Xbox platform -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="platform_XBox" name="platform[]" value="XBox">
                            <label class="form-check-label" for="platform_XBox">
                                XBox
                            </label>
                        </div>

                        <!-- Checkbox for Nintendo platform -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="platform_Nintendo" name="platform[]" value="Nintendo">
                            <label class="form-check-label" for="platform_Nintendo">
                                Nintendo
                            </label>
                        </div>

                        <!-- Checkbox for PCs platform -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="platform_PCs" name="platform[]" value="PC">
                            <label class="form-check-label" for="platform_PCs">
                                PCs
                            </label>
                        </div>

                        <!-- Checkbox for Mobile platform -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="platform_Mobiles" name="platform[]" value="Móvil">
                            <label class="form-check-label" for="platform_Mobiles">
                                Móviles (Smartphones y Tablets)
                            </label>
                        </div>

                        <!-- Checkbox for VR platform -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="platform_VR" name="platform[]" value="Realidad Virtual">
                            <label class="form-check-label" for="platform_VR">
                                Realidad Virtual (VR)
                            </label>
                        </div>

                        <!-- Checkbox for Arcade platform -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="platform_Arcade" name="platform[]" value="Arcade">
                            <label class="form-check-label" for="platform_Arcade">
                                Máquinas Arcade
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Row for the videogame modes -->
                <div class="row mb-4">
                    <label for="modes" class="col-sm-3 col-form-label">Modos de juego disponibles:</label>
                    <div id="modes" class="col-sm-9">
                        <!-- Checkbox for Single Player mode -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mode_SinglePlayer" name="gamemod[]" value="Un jugador">
                            <label class="form-check-label" for="mode_SinglePlayer">
                                Un jugador
                            </label>
                        </div>

                        <!-- Checkbox for Multiplayer mode -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mode_Multiplayer" name="gamemod[]" value="Multijugador">
                            <label class="form-check-label" for="mode_Multiplayer">
                                Multijugador
                            </label>
                        </div>

                        <!-- Checkbox for Cooperative mode -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mode_Cooperative" name="gamemod[]" value="Cooperativo">
                            <label class="form-check-label" for="mode_Cooperative">
                                Cooperativo
                            </label>
                        </div>

                        <!-- Checkbox for Competitive mode -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mode_Competitive" name="gamemod[]" value="Competitivo">
                            <label class="form-check-label" for="mode_Competitive">
                                Competitivo
                            </label>
                        </div>

                        <!-- Checkbox for Practice/Training mode -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mode_Practice" name="gamemod[]" value="Práctica/Entrenamiento">
                            <label class="form-check-label" for="mode_Practice">
                                Práctica/Entrenamiento
                            </label>
                        </div>

                        <!-- Checkbox for Story/Campaign mode -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mode_Story" name="gamemod[]" value="Historia">
                            <label class="form-check-label" for="mode_Story">
                                Historia/Campaña
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Row for the age classification -->
                <div class="row mb-4">
                    <label for="age_classification" class="col-sm-3 col-form-label">Clasificación PEGI por edades:</label>
                    <select id="age_classification" name="age_classification" class="form-select col-sm-9" required>
                        <option value="{{game.age_classification}}" selected>{{game.age_classification}}</option>
                        <option value="3">3</option>
                        <option value="7">7</option>
                        <option value="12">12</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                    </select>
                </div>

                <!-- Row for the videogame rating -->
                <div class="row mb-4">
                    <label for="rating" class="col-sm-3 col-form-label">Calificación del videojuego:</label>
                    <div class="col-sm-3">
                        <input type="number" id="rating" name="rating" class="form-control" min="0" max="5" step="0.5" placeholder="Calificación de 0 a 5" value="{{game.rating}}" required>
                    </div>
                </div>

                <!-- Row for the videogame genres -->
                <div class="row mb-4">
                    <label for="genres" class="col-sm-3 col-form-label">Género/s principal/es del videojuego:</label>
                    <div id="genres" class="col-sm-9">
                        <!-- Checkbox for Survival genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Survival" name="genre[]" value="Supervivencia">
                            <label class="form-check-label" for="genre_Survival">
                                Supervivencia
                            </label>
                        </div>

                        <!-- Checkbox for Action-Adventure genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_ActionAdventure" name="genre[]" value="Aventura">
                            <label class="form-check-label" for="genre_ActionAdventure">
                                Acción-Aventura
                            </label>
                        </div>

                        <!-- Checkbox for Strategy genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Strategy" name="genre[]" value="Estrategia">
                            <label class="form-check-label" for="genre_Strategy">
                                Estrategia
                            </label>
                        </div>

                        <!-- Checkbox for Sandbox genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Sandbox" name="genre[]" value="Sandbox">
                            <label class="form-check-label" for="genre_Sandbox">
                                Sandbox
                            </label>
                        </div>

                        <!-- Checkbox for Sports genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Sports" name="genre[]" value="Deportes">
                            <label class="form-check-label" for="genre_Sports">
                                Deportes
                            </label>
                        </div>

                        <!-- Checkbox for Simulation genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Simulation" name="genre[]" value="Simulación">
                            <label class="form-check-label" for="genre_Simulation">
                                Simulación
                            </label>
                        </div>

                        <!-- Checkbox for Puzzle genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Puzzle" name="genre[]" value="Puzles">
                            <label class="form-check-label" for="genre_Puzzle">
                                Puzles
                            </label>
                        </div>

                        <!-- Checkbox for RPG genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_RPG" name="genre[]" value="RPG">
                            <label class="form-check-label" for="genre_RPG">
                                Rol (RPG)
                            </label>
                        </div>

                        <!-- Checkbox for Horror genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Horror" name="genre[]" value="Terror">
                            <label class="form-check-label" for="genre_Horror">
                                Terror
                            </label>
                        </div>

                        <!-- Checkbox for Battle Royale genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_BattleRoyale" name="genre[]" value="Battle Royale">
                            <label class="form-check-label" for="genre_BattleRoyale">
                                Battle Royale
                            </label>
                        </div>

                        <!-- Checkbox for Racing genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Racing" name="genre[]" value="Carreras">
                            <label class="form-check-label" for="genre_Racing">
                                Carreras
                            </label>
                        </div>

                        <!-- Checkbox for Indie genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Indie" name="genre[]" value="Indie">
                            <label class="form-check-label" for="genre_Indie">
                                Indie
                            </label>
                        </div>

                        <!-- Checkbox for Shooters genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_Shooters" name="genre[]" value="Shooters">
                            <label class="form-check-label" for="genre_Shooters">
                                Shooters
                            </label>
                        </div>

                        <!-- Checkbox for Open World genre -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="genre_OpenWorld" name="genre[]" value="Mundo Abierto">
                            <label class="form-check-label" for="genre_OpenWorld">
                                Mundo Abierto
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Row for the "buttons" -->
                <div class="row mb-4" id="form_buttons">
                    <!-- "Button" to cancel the form and return to the main page IF they are creating a new one -->
                    {{#new_game_from_scratch}}
                        <a href="/" class="btn col-sm-3">
                            <h1><i class="bi bi-house-fill"></i> </h1> <!-- House icon -->
                            Cancelar
                        </a>
                    {{/new_game_from_scratch}}

                    <!-- "Button" to cancel the form and return to the videogame page IF they are editing an existing one -->
                    {{^new_game_from_scratch}}
                        <a href="/game/{{game_id}}" class="btn col-sm-3">
                            <h1><i class="bi bi-house-fill"></i> </h1> <!-- House icon -->
                            Cancelar
                        </a>
                    {{/new_game_from_scratch}}

                    <!-- "Button" to complete the form and submit the data -->
                    <!-- role to make it work like a button. tabindex for keyboard navigation. aria-label for accessibility. onclick to submit the form and onkeydown to do the same but with keyboard tiles "Enter" and "Space". -->
                    <div class="btn col-sm-3" role="button" tabindex="0" aria-label="Completar formulario del Videojuego"
                        onclick="(function(f){ if(f.requestSubmit) f.requestSubmit(); else f.submit(); })(this.closest('form')); return false;"
                        onkeydown="if(event.key==='Enter'||event.key===' '){ event.preventDefault(); (function(f){ if(f.requestSubmit) f.requestSubmit(); else f.submit(); })(this.closest('form')); }">
                        <h1><i class="bi bi-file-plus"></i></h1>
                        Completar formulario del Videojuego
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>

<!-- Footer -->
{{>footer}}