{{>header}}

<div class="row">
    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content -->
    <div class="col-12 col-lg-10 md-10">
        <main class="content">
            {{#game_deleted}}
            <h1>Videojuego borrado del catálogo con éxito</h1>
            <h5>El juego ha sido borrado correctamente.</h5>
            {{/game_deleted}}

            {{^game_deleted}}
            <h1>Reseña borrada con éxito</h1>
            <h5>La reseña ha sido borrada correctamente.</h5>
            {{/game_deleted}}



            <!-- Row for the "buttons" -->
            <div class="row mb-4" id="form_buttons">
                <!-- "Button" to return to the main page -->
                <a href="/" class="btn revbtn col-sm-3">
                    <h1><i class="bi bi-house-fill"></i> </h1> <!-- House icon -->
                    Volver a la página principal
                </a>

                {{^game_deleted}}
                    <!-- "Button" to view the details of the deleted game -->
                    <a href="/game/{{_id}}" class="btn revbtn col-sm-3">
                        <h1><i class="bi bi-file-plus"></i> </h1> <!-- Add file icon -->
                        Ver página de detalle del videojuego
                    </a>
                {{/game_deleted}}
            </div>
        </main>
    </div>
</div>

<!-- Footer -->
{{>footer}}