{{>header}}

<div class="row">
    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content -->
    <div class="col-12 col-lg-10 md-10">
        <main class="content">
            <h1>Se han encontrado los siguientes errores en su formulario:</h1>
            <ul>
                {{#errors}}
                    <li>{{.}}</li>
                {{/errors}}
            </ul>

            <br>
            <br>
            <br>
            <br>
            <br>

            <!-- Row for the "buttons" -->
            <div class="row mb-4" id="form_buttons">
                <!-- "Button" to return to the main page -->
                <a href="/" class="btn col-sm-3">
                    <h1><i class="bi bi-house-fill"></i> </h1> <!-- House icon -->
                    Volver a la página principal
                </a>

                {{#having_errors}}
                    <!-- "Button" to return to the form page -->
                    <a href="/creategame" class="btn col-sm-3">
                        <h1><i class="bi bi-arrow-return-left"></i> </h1> <!-- Add file icon -->
                        Volver a la página de crear un videojuego
                    </a>
                {{/having_errors}}
            </div>
        </main>
    </div>
</div>

<!-- Footer -->
{{>footer}}