    <div class="row"> <!-- Footer -->
        <div class="col-12">
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-3 mb-md-0">
                            <!-- mb-3 adds margin to the bottom on small screens; mb-md-0 removes it on medium and larger screens -->
                            <h5>MoreForPlaying</h5>
                            <p>&copy; 2024 MoreForPlaying. Todos los derechos reservados.</p>
                        </div>

                        <div class="col-md-4 mb-3 mb-md-0">
                            <h5>Contacto</h5>
                            <ul class="list-unstyled"> <!-- Removes default list styling -->
                                <li><i class="bi bi-envelope"></i> soporte@moreforplaying.com</li>
                                <li><i class="bi bi-telephone"></i> +34 123 456 789</li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <h5>Síguenos</h5>
                            <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="text-light me-2"><i class="bi bi-facebook"></i></a>
                            <!--me-2 adds margin to the right-->
                            <a href="#" class="text-light me-2"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Spinner Container -->
    <div class="spinner-container">
        <div class="spinner">
            <div class="spinner-border"></div>
            <p class="spinner-text">Cargando juegos...</p>
        </div>
    </div>

    <!--JavaScripts-->
    <script src="/app.js"></script>
    <script src="/infiniteScroll.js"></script>
    
</body>

</html>