<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoreForPlaying</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist
    /css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/MoreForPlaying.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
</head>
<body>
    <!-- On small screens, positioned in a column; on medium and larger screens, in a row -->

                    <a href="/">
                        <img id="logoimg" src="/images/LogPhoto.png" alt="Logo MoreForPlaying" width="100" height="100"
                            href="/"></a>

                    <div class="header-content flex-column flex-md-row">
                        <!-- On small screens, positioned in a column; on medium and larger screens, in a row -->
                        <div class="d-flex gap-3 flex-column flex-md-row"> <a href="/">Tienda</a> <a
                                href="/">Comunidad</a> <a href="/">Soporte</a> </div>
                        <form action="/search" method="GET"> <label for="Buscar">Buscar en la tienda</label> <input class="form-control" type="text" name="q">
                        </form>
                    </div>
</body>

