<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoreForPlaying</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="MoreForPlaying.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
</head>

<body>
    <div class="container-fluid"> <!-- Container for the whole page -->
        <div class="row"> <!-- Header -->
            <div class="col-12 mb-3"> <!-- Occupies the entire width and has a bottom margin of 3 -->
                <header class="header flex-column flex-md-row">
                    <!-- On small screens, positioned in a column; on medium and larger screens, in a row -->

                    <a href="MoreForPlaying.html">
                        <img id="logoimg" src="images/LogPhoto.png" alt="Logo MoreForPlaying" width="100" height="100"
                            href="MoreForPlaying.html"></a>

                    <div class="header-content flex-column flex-md-row">
                        <!-- On small screens, positioned in a column; on medium and larger screens, in a row -->
                        <div class="d-flex gap-3 flex-column flex-md-row"> <a href="#">Tienda</a> <a
                                href="#">Comunidad</a> <a href="#">Soporte</a> </div>
                        <form> <label for="Buscar">Buscar en la tienda</label> <input class="form-control"> </form>
                    </div>
                </header>
            </div>
        </div>
        <div class="row"> <!-- Sidebar -->
            <div class="col-lg-2 md-2 mb-3">
                <aside class="sidebar">
                    <div class="category"><i class="bi bi-controller"></i> Categorías</div> <a href="#"
                        class="sidebar-item"><i class="bi bi-bullseye"></i> Shooters</a> <a href="#"
                        class="sidebar-item"> <i class="bi bi-globe2"></i> Mundo Abierto</a> <a href="#"
                        class="sidebar-item"><i class="bi bi-heart-fill"></i> Indie</a> <a href="#"
                        class="sidebar-item"><i class="bi bi-speedometer2"></i> Carreras</a> <a href="#"
                        class="sidebar-item"><i class="bi bi-trophy-fill"></i> Deportes</a> <a href="#"
                        class="sidebar-item"><i class="bi bi-shield-shaded"></i> RPG</a>

                    <!-- Bootstrap icons with colors-->
                    <div class="category"><i class="bi bi-laptop"></i> Plataformas</div> <a href="#"
                        class="sidebar-item"><i class="bi bi-windows text-primary"></i> PC</a> <a href="#"
                        class="sidebar-item"><i class="bi bi-playstation text-info"></i> PlayStation</a> <a href="#"
                        class="sidebar-item"><i class="bi bi-xbox text-success"></i> Xbox</a> <a href="#"
                        class="sidebar-item"> <i class="bi bi-nintendo-switch text-danger"></i> Nintendo</a>
                    <div class="category"><i class="bi bi-info-circle"></i> Información</div>
                    <p class="sidebar-item">Juegos: 612</p>
                    <p class="sidebar-item">Usuarios online: 3.3k</p>
                    <p class="sidebar-item">GOTY: Elden Ring</p>
                </aside>
            </div> <!-- Content -->
            <div class="col-12 col-lg-10 md-10">
                <main class="content">
                    <!--On small screens, it occupies the full width; on medium screens, it occupies three columns and is offset 9 to the right -->
                    <a href="CreateGame.html" class="btn col-md-3 offset-md-9 mb-3">
                        <h1><i class="bi bi-pencil-square"></i></h1> Crea tu propio juego
                    </a>
                    <div class="games row">
                        <!--template-->
                        <ul class="games row">
                            {{#games}}
                            <li class="game-card col-12 col-sm-6 col-lg-3 mb-3">

                                <div class="game-title">{{title}}</div>
                                {{#imageFilename}}
                                <a href="/game/{{_id}}"><img class="game-image" src="/game/{{_id}}/image" alt="MC"
                                        width="150px" height="200px"></a>
                                {{/imageFilename}}
                                <div class="game-price">{{price}}€</div>
                                <div class="rating-stars">
                                    <!-- Full stars -->
                                    {{#stars.starFull}}
                                    <i class="bi bi-star-fill text-danger"></i>
                                    {{/stars.starFull}}

                                    <!-- Half stars -->
                                    {{#stars.starHalf}}
                                    <i class="bi bi-star-half text-danger"></i>
                                    {{/stars.starHalf}}

                                    <!-- Empty stars -->
                                    {{#stars.starEmpty}}
                                    <i class="bi bi-star text-danger"></i>
                                    {{/stars.starEmpty}}
                                </div>
                                <!-- <div class="game-rating">rating: {{rating}}</div> -->

                            </li>
                            {{/games}}
                        </ul>

                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <!-- On small screens, the column occupies all the space; on medium screens, it occupies half of the row. On large screens, there are three columns per row -->
                            <div class="game-title">Minecraft</div> <a href="Minecraft.html"> <img class="game-image"
                                    src="images/Minecraft-poster.webp" alt="MC" width="150px" height="200px"> </a>
                            <div class="game-price">26.95€</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i class="bi bi-star-fill text-danger"></i>
                            </div>
                        </div>
                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <div class="game-title">Fortnite</div> <a href="Minecraft.html"> <img class="game-image"
                                    src="images/Fortnite-poster.jpg" alt="MC" width="150px" height="200px"> </a>
                            <div class="game-price">GRATIS</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i class="bi bi-star-half text-danger"></i>
                            </div>
                        </div>
                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <div class="game-title">FIFA </div> <a href="Minecraft.html"> <img class="game-image"
                                    src="images/Fifa-poster.jpg" alt="MC" width="150px" height="200px"> </a>
                            <div class="game-price">69.99€</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i class="bi bi-star text-danger"></i>
                            </div>
                        </div>
                    </div>
                    <div class="games row">
                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <div class="game-title">Animal Crossing</div> <a href="Minecraft.html"> <img
                                    class="game-image" src="images/Animal Crossing-poster.webp" alt="MC" width="150px"
                                    height="200px"> </a>
                            <div class="game-price">14.95€</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i class="bi bi-star-half text-danger"></i>
                            </div>
                        </div>
                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <div class="game-title">Sims</div> <a href="Minecraft.html"> <img class="game-image"
                                    src="images/TheSims-poster.webp" alt="MC" width="150px" height="200px"> </a>
                            <div class="game-price">4.99€</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-half text-danger"></i><i class="bi bi-star text-danger"></i>
                            </div>
                        </div>
                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <div class="game-title">The Legend of Zelda</div> <a href="Minecraft.html"> <img
                                    class="game-image" src="images/Zelda-poster.png" alt="MC" width="150px"
                                    height="200px"> </a>
                            <div class="game-price">8.99€</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i class="bi bi-star-half text-danger"></i>
                            </div>
                        </div>
                    </div>
                    <div class="games row">
                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <div class="game-title">GTA V</div> <a href="Minecraft.html"> <img class="game-image"
                                    src="images/GTA-poster.png" alt="MC" width="150px" height="200px"> </a>
                            <div class="game-price">19.99€</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i class="bi bi-star-fill text-danger"></i>
                            </div>
                        </div>
                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <div class="game-title">Hollow Knight</div> <a href="Minecraft.html"> <img
                                    class="game-image" src="images/Hollow-poster.png" alt="MC" width="150px"
                                    height="200px"> </a>
                            <div class="game-price">12.95€</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i class="bi bi-star-fill text-danger"></i>
                            </div>
                        </div>
                        <div class="game-card col-12 col-sm-6 col-lg-3 mb-3">
                            <div class="game-title">Super Mario Bros</div> <a href="Minecraft.html"> <img
                                    class="game-image" src="images/SuperMario-poster.jpg" alt="MC" width="150px"
                                    height="200px"> </a>
                            <div class="game-price">24.95€</div>
                            <div class="game-rating"><i class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i
                                    class="bi bi-star-fill text-danger"></i><i class="bi bi-star text-danger"></i>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="row"> <!-- Footer -->
            <div class="col-12">
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <!-- mb-3 adds margin to the bottom on small screens; mb-md-0 removes it on medium and larger screens -->
                                <h5>MoreForPlaying</h5>
                                <p>&copy; 2024 MoreForPlaying. Todos los derechos reservados.</p>
                            </div>
                            <div class="col-md-4 mb-3 mb-md-0">
                                <h5>Contacto</h5>
                                <ul class="list-unstyled"> <!-- Removes default list styling -->
                                    <li><i class="bi bi-envelope"></i> soporte@moreforplaying.com</li>
                                    <li><i class="bi bi-telephone"></i> +34 123 456 789</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h5>Síguenos</h5>
                                <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="text-light me-2"><i class="bi bi-facebook"></i></a>
                                <!--me-2 adds margin to the right-->
                                <a href="#" class="text-light me-2"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>