{{>header}}

<div class="row">
    <!-- Sidebar -->
    {{>sidebar}}

    <!-- Content -->
    <div class="col-12 col-lg-10 md-10">
        <main class="content">
            <!-- Message indicating successful addition -->
            {{#new_game_added}}

                {{#new_game_from_scratch}}
                    <h1>Videojuego añadido al catálogo con éxito</h1>
                    <h5>Tu juego ha sido registrado correctamente. Puedes ver los detalles del juego creado a continuación:</h5>
                {{/new_game_from_scratch}}

                {{^new_game_from_scratch}}
                    <h1>Videojuego editado con éxito</h1>
                    <h5>Se ha actualizado la información con los nuevos datos proporcionados. Puedes ver los detalles del juego a continuación:</h5>
                {{/new_game_from_scratch}}

            {{/new_game_added}}

            {{^new_game_added}}
                <h1>Reseña añadida con éxito</h1>
                <h5>Tu reseña ha sido registrada correctamente. Gracias por compartir tu opinión.</h5>
            {{/new_game_added}}

            <!-- Row for the "buttons" -->
            <div class="row mb-4" id="form_buttons">
                <!-- "Button" to return to the main page -->
                <a href="/" class="btn revbtn col-sm-3">
                    <h1><i class="bi bi-house-fill"></i> </h1> <!-- House icon -->
                    Volver a la página principal
                </a>

                <!-- "Button" to view the details of the created game -->
                <a href="/game/{{_id}}" class="btn revbtn col-sm-3">
                    <h1><i class="bi bi-file-plus"></i> </h1> <!-- Add file icon -->
                    Ver página de detalle del videojuego
                </a>
            </div>
        </main>
    </div>
</div>

<!-- Footer -->
{{>footer}}